.title{
    font-style: italic;
    font-size: 60px ;
    margin-top: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 0.5px;
    color: rgb(80, 72, 25);
}


.red{
    color: rgba(202, 166, 7, 0.897);
}

.image{
    width: 1200px ;
    height: 700px;
}